asgiref
boto3
botocore
certifi
cffi
charset-normalizer
cryptography
dj-database-url
Django
django-anymail
django-cors-headers
django-jazzmin
django-storages
django-ckeditor-5
djangorestframework
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.7
environs==10.0.0
gunicorn==21.2.0
idna==3.6
inflection==0.5.1
jmespath==0.10.0
marshmallow
packaging
psycopg2
pycparser
PyJWT
python-dateutil
python-dotenv
pytz
PyYAML
requests
s3transfer
shortuuid
six
sqlparse
stripe
typing_extensions
tzdata
uritemplate
urllib3
moviepy